body {
    background-color: beige;
    font-family: system-ui;
}
/**Les polices et la couleur de fond en général**/


main {
    display: grid;
    /**grid-template-columns: 1fr 4fr;**/
    grid-template-columns: 2fr 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 3fr 3fr;
    height:80vh;
} /**Definition des grilles de la page : 4 colonnes et 4 lignes.
pour les colonnes : une colonne + petite pour la navigation gauche
Pour les lignes : à gauche + petit pour que la navigation gauche ne mange pas toute la place
le height c'est pour que le site prenne toute la taille de l'écran. sinon, la page est comprimée en haut
**/

div {
    border-radius: 15px;
    padding: 10px;
    background-color: brown;
} /**Coins arrondis pour les div*/

#reponses {
    flex-direction: row;
    
}

#presentation {
    grid-area: 2 / 1 / 2 / 5;
    text-align: center;
    background-color: aqua;
} /**Pour l'en-tête de la page**/

.nav-gauche > div {
    background-color: green;
} /**on pourra changer les couleurs... ici c'est juste pour différencier les divs de gauche des autres**/

.nav-haut {
    display: grid;
    background-color: aqua;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-area: 2 / 1 / 4 / 1;
} /**toujours grid-area : grid-row-start, grid-column-start, grid-row-end et grid-column-end (gauche haut droite bas)**/

#blabla {
    grid-area: 1 / 2 / 5 / 4; /**la ligne en dessous de la nav-haut, la colonne après la nav-gauche. on pourra changer le reste pour prendre plus de place à droite si besoin**/
    text-align: center;
    background-color: antiquewhite;
    display: flex;
}

.nav-gauche {
    background-color: blueviolet;
    grid-area: 1 / 1 / 5 / 2;
    text-align: center;
}
